{% extends "base.html" %}
{% block content %}
  <h2>User Profile</h2>
  <p>Balance: {{ account.balance }}</p> <!-- Display the user's balance -->
  <h3>Deposit Money</h3>
  <a href="{% url 'deposit_money' %}">Deposit Money</a>
  <h2>Borrowed Books:</h2>
  <ul>
    {% for order in orders %}
      <li>{{ order.book.title }}  - Borrowed on {{ order.order_date }} - <a href="{% url 'return_book' order.id %}">Return</a></li>
    {% empty %}
      <li>No borrowing history</li>
    {% endfor %}
  </ul>
{% endblock %}
